.color1 {color: #ffd257;}
.color2 {color: #ffef64;}
.color3 {color: #0b159e;}
.color4 {color: #0377fd;}
.color5 {color: #75f4fe;}
.color6 {color: #edd2d9;} /*body1*/
.color7 {color: #9b97c6;} /*body2*/

/* 폰트 */
/* 리디바탕 */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 산돌 삼립호빵체 */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 너만을 비춤 */
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
BODY{
    margin:0;
    /* font-family: 'RIDIBatang'; */
    /* font-family: 'SDSamliphopangche_Outline'; */
    /* font-family: 'Y_Spotlight'; */
    background : linear-gradient(to left, #edd2d9, #9b97c6);
}
#banner{
    height     : 500px;
    margin     : 0;
    text-align : center;
}
#day{
    margin:0;
}
@keyframes typing{
    from{ width: 0; }
}
@keyframes cursor{
    50%{ border-color: transparent; }
}
h1{
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    width: 5ch;
    color:white;
    overflow: hidden; 
    white-space: nowrap;
    border-right: .05em solid black;
    animation: typing 1s steps(3),
    cursor 1s steps(1) infinite;
    /* animation-iteration-count: infinite; */
}
#section1{
      padding : 50px;
      color:#fff;
      margin-top:100%;
      height:290px;
      background-color: rgba(0,0,0,0.1);
}
#about_me{
    font-size: 30pt;
    color:#fff;
}
#skill_inventory{
    font-size: 30pt;
    margin-bottom:30px;
    color:#fff;
    border:1px solid black;
}
#section2{
    text-align: center;
    padding : 50px;
    color:#fff;
    
}
#skill_name{
    font-family: 'SDSamliphopangche_Outline';
    box-shadow: 5px 5px 5px 5px rgb(165, 165, 165);
    padding:20px;
    font-size:30pt;
    margin-right:50px;
    margin-bottom:30px;
    display: inline-block;
    border:1px solid black;
    width:200px;
    height:100px;
    border-radius: 5px;
}
#section3{
    padding : 50px;
    height  : 290px;
    background-color: rgba(255,255,255,0.5);
}
#section3>h2{
    border: 1px solid black;
    width:200px;
}
.animated-text{
    color: black;
    width:300px;
    /* transform: translate(-50%, -50%); */
    /* background: #2980b9; */
    /* padding: 0 40px; */
    height: 60px;
    overflow: hidden;
  }
  
  .line{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
  }
  
  .line:first-child{
    animation: anim 12s infinite;
  }
  
  @keyframes anim {
    0%{
      margin-top : 0;
    }
    16%{
      margin-top : -60px;
    }
    33%{
      margin-top : -120px;
    }
    50%{
      margin-top : -180px;
    }
    66%{
      margin-top : -120px;
    }
    82%{
      margin-top : -60px;
    }
    100%{
      margin-top : 0;
    }
  }
  