.color1 {color: #ffd257;}
.color2 {color: #ffef64;}
.color3 {color: #0b159e;}
.color4 {color: #0377fd;}
.color5 {color: #75f4fe;}
.color6 {color: #edd2d9;} /*body1*/
.color7 {color: #9b97c6;} /*body2*/

/* 폰트 */
/* 리디바탕 */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 산돌 삼립호빵체 */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 너만을 비춤 */
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
BODY{
    margin:0;
    /* font-family: 'RIDIBatang'; */
    /* font-family: 'SDSamliphopangche_Outline'; */
    font-family: 'Y_Spotlight'; /*너만을비춤*/
    background : linear-gradient(to left, #edd2d9, #9b97c6);
}
#banner{
    height     : 500px;
    margin     : 0;
    text-align : center;
}
#day{
    margin:0;
}
  @keyframes typing{
    from{ width: 0; }
  }
   
  @keyframes cursor{
    50%{ border-color: transparent; }
  }
   
  h1{
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    width: 3.8ch;
    color:white;
    overflow: hidden; 
    white-space: nowrap;
    border-right: .05em solid black;
    animation: typing 5s steps(3),
    cursor 1s steps(1) infinite;
    /* animation-iteration-count: infinite; */
  }

  #section1{
      margin-top:100%;
      height:500px;
      background-color: #e3cacc;
  }
  #section2{
    height:500px;
    background-color: #9287a0;
}