/* 
1. 프로젝트 스크린샷
2. 뭘 만들고자 했는지
3. 깃허브추가
4. 조잡하지않게 깔끔하게
*/

.color1 {color: #ffd257;}
.color2 {color: #ffef64;}
.color3 {color: #0b159e;}
.color4 {color: #0377fd;}
.color5 {color: #75f4fe;}
.color6 {color: #edd2d9;} /*body1*/
.color7 {color: #9b97c6;} /*body2*/

/* 폰트 */
/* 리디바탕 */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 산돌 삼립호빵체 */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 너만을 비춤 */
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 카페24 고운밤 */
@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Russo';
  src: url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*바디--------------------------------------------------------*/
body{
    margin:0;
    background : linear-gradient(to left, #edd2d9, #9b97c6);
    font-family: 'Noto Sans KR', sans-serif;
}
i{
  color:black;
  font-size: 15pt;
}
#gray{
    color:gray;
}
/*배너--------------------------------------------------------*/
#page_title{
  font-size  : 20pt;
  position   : absolute;
  top        : 50%;
  left       : 50%;
  margin     : 0;
  color      : white;
}
/*메뉴바-----------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
ul:after{
  content:'';
  display: block;
  clear:both;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
#menubar{
  width:100%;
  font-size: 0.9em;
  margin:0;
  height:50px;
  background-color: #966c7b;
  font-family: 'Noto Sans KR', sans-serif;
}
/*section1 SUMMARY--------------------------------------*/
#summary{
    padding-bottom : 0;
}
#comment{
    padding : 50px 100px;
}
#section1_t{
    color            : #fff;
    font-family      : 'Noto Sans KR', sans-serif;
    background-color : rgba(0,0,0,0.5);
    padding     : 50px 100px;
    width       : 100%;
    text-align  : center;
    margin      : 0 auto;
    font-size   : 12pt;
}
#pic1{
    opacity: 0.9;
}
/*section2 스택--------------------------------------*/
#section2{
    text-align : center;
    padding : 100px;
}

#stack_title{
    font-family: 'Y_Spotlight';
    color      : #fffeff;
    font-size  : 2em;
    width      : 50%;
    margin     : 50px auto 0px;
    padding    : 10px 50px;
    box-shadow : 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
    background-color:rgba(255, 255, 255, 0.3);
}
#stack_intro{
  color:white;
  font-weight: 1000;
  margin:50px;
}
#stack_table{
    padding    : 10px;
    padding-bottom:30px;
    font-size  : 10pt;
    width      : 80%;
    margin     : 0 auto;
    color      :rgb(97, 97, 97);
    background: white;
    box-shadow: 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
    border-radius: 3px;
}
#front_stack_table{
  padding    : 10px;
  padding-bottom:30px;
  font-size  : 10pt;
  width      : 80%;
  margin     : 50px auto;
  color      :rgb(97, 97, 97);
  background: white;
  box-shadow: 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
}
#tool_stack_table{
  padding    : 10px;
  padding-bottom:30px;
  font-size  : 10pt;
  width      : 80%;
  margin     : 50px auto;
  color      :rgb(97, 97, 97);
  background: white;
  box-shadow: 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
}
#td_star{
    font-weight: bold;
    color:#8671c3;
}
#tr_hr{
    height:50px;
}
#first_hr{
    margin-bottom:25px;
}
#last_hr{
    margin-top:25px;
}
#tr_blank{
  height    : 40px;
  font-size : 9pt;
}
hr{
  margin:3px;
  border-top:0.1px solid rgba(100, 100, 100, 0.1);
}

.text-pop-up-top {
    font-size: 30pt;
	/* -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/*section3 2021년 리스트--------------------------------------*/
#section3{
    padding : 50px;
    height  : 100px;
    background-color: rgba(255,255,255,0.5);
}
#list_table{
  margin:0 auto;
}
#iwill{
    padding-right:20px;
}
#do{
    padding-left:20px;
}
#section3>h2{
    border: 1px solid black;
    width:200px;
}
.animated-text{
    color: black;
    width:300px;
    /* transform: translate(-50%, -50%); */
    background: #fff;
    /* padding: 0 40px; */
    height: 60px;
    overflow: hidden;
    border:0;
    border-radius: 5px;
}
.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
  }
.line:first-child{
    animation: anim 12s infinite;
}
  
@keyframes anim {
  0%{
    margin-top : 0;
  }
  16%{
    margin-top : -60px;
  }
  33%{
    margin-top : -120px;
  }
  50%{
    margin-top : -180px;
  }
  66%{
    margin-top : -120px;
  }
  82%{
    margin-top : -60px;
  }
  100%{
    margin-top : 0;
  }
}
/*section4 프로젝트 경력기술----------------------------------*/
#section4_parents{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    background-color: #e2c8d8;
    width:100%;
}
#section4{
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
  width:90vw;
  text-align:center;
}
#section4 span{
  color:#fff;
  background-color: rgb(141, 129, 129);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0;
  padding: .24rem .40rem;
  margin: 3px 3px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
#progress_status{
  color:#000;
  background-color: rgb(162, 218, 235);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0;
  padding: .24rem .40rem;
  margin: 3px 3px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
#progress_status2{
  color:#fff;
  background-color: rgb(74, 101, 255);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0;
  padding: .24rem .40rem;
  margin: 3px 3px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
#td_text_left{
  text-align: left;
}
#section4 h1{
  font-size:25pt;
  color:white;
}
#project_title{
  font-family: 'Y_Spotlight';
    color      : #fffeff;
    font-size  : 2em;
    width      : 50%;
    margin     : 50px auto;
    padding    : 10px 50px;
    box-shadow : 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
    background-color:rgba(255, 255, 255, 0.3);
}
#project_table{
  text-align:center;
  width:100%;
  background: white;
  padding    : 10px;
  padding-top: 30px;
  padding-bottom:30px;
  font-size  : 10pt;
  box-shadow: 5px 5px 5px 5px rgba(100, 100, 100, 0.1);
}
#project_table tr{
  height:40px;
}
#project_pic_table{
  text-align:center;
  width:100%;
  margin-bottom:90px;
}
#project_pic_table img{
  width:100%;
}
/*section6----------------------------------------AWARDS*/
#section6{
  padding-top:100px;
  padding-bottom:100px;
  background-color: #abedbe;
  width:100%;
  text-align: center;
  margin:0;
}

#section6_content{
    width:70%;
    margin:0 auto;
    /* background: #000; */
}
#section6_content h1{
  text-align: left;
}
#section6_content p{
  text-align: left;
}
/*연락처----------------------------------*/
#section5{
    width:100%;
    text-align:center;
    padding-top:200px;
    padding-bottom:200px;
    background-color: #557da1;
}
#contact_box{
    padding:50px;
    width:500px;
    background-color: white;
    border-radius: 50px;
    margin:50px auto;
    
}
#contact_name{
    font-family: 'GyeonggiBatang';
    margin:0;
    font-size: 30pt;
}
#short_intro{
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.219rem;
    color: #3f416567;
}
#contact_table{
    width:60%;
    margin:10px auto;

}
#contact_table tr{
    height:10pt;
}
#detail{
    text-align:left;
    font-size: 10pt;
}
#profile_pic{
  background-color: #edd2d9;
  /* border:1px solid black; */
  border-radius: 100%;
  width: 5.625rem;
  height: 5.625rem;
  margin: 20px auto;
}