.color1 {color: #ffd257;}
.color2 {color: #ffef64;}
.color3 {color: #0b159e;}
.color4 {color: #0377fd;}
.color5 {color: #75f4fe;}


BODY{
    background: linear-gradient(45deg, #ffef64, aquamarine);
}

  @keyframes typing{
    from{ width: 0; }
  }
   
  @keyframes cursor{
    50%{ border-color: transparent; }
  }
   
  h1{
    width: 5ch;
    color:black;
    overflow: hidden; 
    white-space: nowrap;
    border-right: .05em solid black;
    animation: typing 5s steps(3),
    cursor 1s steps(1) infinite;
    /* animation-iteration-count: infinite; */
  }